@import "../../../sass/colors"

$orange: #F17400

:host
  top: calc(50% - 3.2rem/2)
  left: calc(50% - 3.2rem/2)

.radio
  display: flex
  align-items: center
  position: relative
  cursor: pointer

  &.configuration
    height: 3.2rem

    .mark
      height: 3.2rem
      width: 3.2rem

    .label
      right: calc(100% + 1.6rem)

  &.option
    height: 4rem

    .mark
      height: 4rem
      width: 4rem
      border: 1px solid $color4

      &:after
        content: ''
        position: absolute
        height: 1.8rem
        width: 1.8rem
        background-color: $orange
        border-radius: 50%
        top: calc(50% - 0.9rem)
        left: calc(50% - 0.9rem)

    .label
      right: calc(100% + 1rem)

    input:checked ~ .mark:after
      width: calc(100% - 2px)
      top: 1px
      height: calc(100% - 2px)
      left: 1px

  &.reverse
    .mark
      left: 0

    .label
      left: calc(4rem + 1.6rem)

  &:hover
    .label
      color: $color6

    .mark
      border-color: $color6

  input
    position: absolute
    opacity: 0
    cursor: pointer

    &:checked ~ .mark
      border-color: $color8
      box-shadow: 0 0 15px $color4

    &:checked ~ .label
      color: $color6

  .label
    position: absolute
    color: $color4
    width: max-content
    text-transform: uppercase


  .mark
    border-radius: 50%
    border: 2px solid $color4
    background: $color1
