@import "colors"

html
  font-size: 10px
  font-family: HelveticaNowDisplay, sans-serif

body
  font-size: 1.6rem
  color: $color8

@font-face
  font-family: 'HelveticaNowDisplay'
  src: url('~assets/fonts/HelveticaNowDisplay-Black.ttf') format('truetype')
  src: url('~assets/fonts/HelveticaNowDisplay-Black.woff') format('woff')
  src: url('~assets/fonts/HelveticaNowDisplay-Black.svg') format('svg')
  font-weight: 900

@font-face
  font-family: 'HelveticaNowDisplay'
  src: url('~assets/fonts/HelveticaNowDisplay-Bold.ttf') format('truetype')
  src: url('~assets/fonts/HelveticaNowDisplay-Bold.woff') format('woff')
  src: url('~assets/fonts/HelveticaNowDisplay-Bold.svg') format('svg')
  font-weight: 700

@font-face
  font-family: 'HelveticaNowDisplay'
  src: url('~assets/fonts/HelveticaNowDisplay-Medium.ttf') format('truetype')
  src: url('~assets/fonts/HelveticaNowDisplay-Medium.woff') format('woff')
  src: url('~assets/fonts/HelveticaNowDisplay-Medium.svg') format('svg')
  font-weight: 500

@font-face
  font-family: 'HelveticaNowDisplay'
  src: url('~assets/fonts/HelveticaNowDisplay-Regular.ttf') format('truetype')
  src: url('~assets/fonts/HelveticaNowDisplay-Regular.woff') format('woff')
  src: url('~assets/fonts/HelveticaNowDisplay-Regular.svg') format('svg')
  font-weight: 400


