<footer>
  <div class="container">
    <div class="top">
      <svg-icon src="../../../assets/svg/logo.svg" [svgStyle]="{ 'width.px':200 }"></svg-icon>
      <ul class="nav">
        <li class="nav-item"><a routerLink="/">Catalog</a></li>
        <li class="nav-item"><a routerLink="/">Custom Built</a></li>
        <li class="nav-item"><a routerLink="/">About us</a></li>
        <li class="nav-item"><a routerLink="/">Media</a></li>
        <li class="nav-item"><a routerLink="/">How to order</a></li>
        <li class="nav-item"><a routerLink="/"></a>Contact</li>
      </ul>
      <div class="social">
        <a href="#" class="social-item">
          <svg-icon src="../../../assets/svg/facebook.svg" [svgStyle]="{ 'width.px':10 }"></svg-icon>
        </a>
        <a href="#" class="social-item">
          <svg-icon src="../../../assets/svg/inst.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
        </a>
      </div>
    </div>
    <div class="bottom">
      <ul class="copyright">
        <a href="#">Terms</a>
        <a href="#">Privicy</a>
        <span>© 2020 Carismo</span>
      </ul>

      <div class="creator">Created by
        <svg-icon src="../../../assets/svg/HLD.svg" [svgStyle]="{ 'width.px':54 }"></svg-icon>

      </div>
    </div>
  </div>
</footer>
