@import "../../../sass/colors"

$circle-size: 70rem
$wheel-size: 60rem

.configurator
  display: flex
  height: 61rem
  position: relative
  margin-top: 12rem

.price
  position: absolute
  width: 100%
  text-align: center
  z-index: 5
  top: -6.5rem

.wheel
  position: absolute
  height: $wheel-size
  width: $wheel-size
  left: calc(50% - #{$wheel-size} / 2)
  top: calc(50% - #{$wheel-size} / 2)
  display: flex
  align-items: center
  justify-content: center

  img
    position: absolute
    width: 100%
    z-index: 1

.circle
  display: flex
  align-items: center

  position: relative

  height: $circle-size
  width: $circle-size
  left: calc(50% - #{$circle-size} / 2)
  top: calc(50% - #{$circle-size} / 2)

  $border: 2px
  background: $color1
  border-radius: 50%
  background-clip: padding-box
  border: $border solid transparent

  &:before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -2
    margin: -$border
    border-radius: inherit
    background: linear-gradient(to bottom, $color1 10%, $color4, $color1 90%)

.parents,
.options
  z-index: 2

.parents
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  width: max-content
  max-height: 42rem
  position: absolute
  right: calc(100% - 3.2rem/2)

.options
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  width: max-content
  max-height: 42rem
  position: absolute
  left: calc(100% - 3.2rem / 2)

app-radio
  position: absolute






















