<div class="container">
  <div class="configurator">
    <div class="wheel">
      <img src="../../../assets/img/wheel/test.png">
    </div>
    <div class="circle">
      <div class="left">
        <app-radio
          *ngFor="let item of options; index as i;"
          [item]="item"
          (click)="selectOption(item)"
          [classList]="'large'"
          [name]="'category'"
          [ngStyle]="{'transform': 'rotate(' + getPosition(i) + 'deg) translate(-300px) rotate(' + -getPosition(i) + 'deg)'}"
        ></app-radio>
      </div>
      <div class="right">
        <app-radio
          *ngFor="let item of selectedOption.options; index as i"
          [item]="item"
          [classList]="'large reverse '"
          [name]="selectedOption.name"
          [ngStyle]="{'transform': 'rotate(' + getPositionSelected(i) + 'deg) translate(-300px) rotate(' + -getPositionSelected(i) + 'deg)',
                      'top': 'calc(50% - 3.2rem / 2)',
                      'left': 'calc(50% - 3.2rem / 2)'}"
        ></app-radio>
      </div>
    </div>
  </div>
</div>





