<header>
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <svg-icon src="../../../assets/svg/logo.svg" [svgStyle]="{ 'width.px':200 }"></svg-icon>
      </a>
    </div>
    <ul class="nav-list">
      <li class="nav-item">
        <a routerLink="/catalog">Catalog</a>
      </li>
      <li class="nav-item">
        <a routerLink="/custom-built">Custom built</a>
      </li>
      <li class="nav-item">
        <a routerLink="/media">Media</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about">About us</a>
      </li>
      <li class="nav-item">
        <a routerLink="/how-to-order">How to order</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</header>
